main{
    display: flex;  
    align-items: center; 
    flex-direction: column;

}
 h1{
    color: rgb(80, 252, 183);
    text-align: center;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-size: 95px; /* Alterando o tamanho da fonte para 36 pixels */
}
#imagem1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 20px auto;
  width: 80%;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5); /* Adicionando sombreamento */
  transition: transform 0.5s ease; /* Adicionando transição para a propriedade transform */
  transform-style: preserve-3d; /* Preservando a transformação em 3D */
  border: 2px solid #638f81; /* Adicionando uma borda ao redor da imagem */
  display: block;
 
}

#paragrafo1 {
  font-size: 20px;
  font-weight: bold;
  font-style: italic; /* Adicionando estilo de letra itálico */
  font-family: cursive;
  text-align: center;
}
#paragrafo2 {
  font-size: 20px;
  font-weight: bold;
  font-style: italic; /* Adicionando estilo de letra itálico */
  font-family: cursive;
  text-align: center;
}

.container1 {
  width: 1200px;
  background-color: #f0f0f0;
  border: 2px solid #73becb;
  padding: 20px;
  margin: 20px;
  float: left;
}
.container2 {
  width: 1200px; /* Reduzindo a largura para tornar o círculo mais evidente */
  background-color: #f0f0f0;
  border: 2px solid #73becb;
  padding: 20px;
  margin: 20px;
  float: left;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px; /* Torna o contêiner um círculo */
}
#imagem2 {
  width: 500px; /* Ajuste conforme necessário */
  height: auto; /* Para manter a proporção da imagem */
  margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

.container3 {
    width: 1200px; /* Reduzindo a largura para tornar o círculo mais evidente */
    background-color: #f0f0f0;
    border: 2px solid #73becb;
    padding: 20px;
    margin: 20px;
    float: left;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui o espaço entre os itens */
    border-radius: 10px; /* Torna o contêiner um círculo */
  }
  
  
#imagem3 {
  width: 500px; /* Ajuste conforme necessário */
  height: auto; /* Para manter a proporção da imagem */
  margin-right: 20px; /* Espaçamento entre a imagem e o texto */
  margin-left: auto; /* Move a imagem para o lado direito */

}
.container3 p {
  flex: 1; /* Ocupa o restante do espaço disponível */
}
.container2 a.button {
  margin-top: 10px; /* Margem superior para separar o botão do texto */
  align-self: flex-start; /* Alinha o botão à esquerda */
  padding: 10px 20px; /* Adiciona preenchimento ao botão */
  background-color: #b7d194; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  border: none; /* Remove a borda do botão */
  border-radius: 5px; /* Adiciona borda arredondada ao botão */
  align-self:flex-end; /* Alinha o botão à esquerda */
}
.container3 a.button {
  margin-top: 10px; /* Margem superior para separar o botão do texto */
  align-self: flex-start; /* Alinha o botão à esquerda */
  padding: 10px 20px; /* Adiciona preenchimento ao botão */
  background-color: #b7d194; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  border: none; /* Remove a borda do botão */
  border-radius: 5px; /* Adiciona borda arredondada ao botão */
  align-self:flex-end; /* Alinha o botão à esquerda */
}
.video-container {
  margin-top: 20px; /* Adicione margem superior para separar o vídeo do conteúdo acima */
  margin-bottom: 20px; /* Adicione margem inferior para separar o vídeo do rodapé */
  display: flex; /* Usar flexbox para centralizar o vídeo */
  justify-content: center; /* Centralizar horizontalmente */
  position: fixed; /* Posiciona o vídeo de forma fixa */
  top: 20px; /* Define a distância do topo */
  right: 20px; /* Define a distância da direita */
}
.video-container video {
  border-radius: 10px; /* Adiciona bordas redondas ao vídeo */
}
.video-menu {
  position: relative; /* Define a posição absoluta */
  top: calc(100% - 40px); /* Define a distância do topo (100% da altura da página - 40px) */
  left: 596px; /* Define a distância da direita */
  float: right; /* Flutua para a direita */
  margin-left: 10px; /* Adiciona uma margem à esquerda para separar do rodapé */
  margin-bottom: 10px; /* Adiciona uma margem inferior para separar do rodapé */
}

.video-container {
  display: none; /* Oculta o vídeo por padrão */
}

.video-container.show {
  display: block; /* Mostra o vídeo quando a classe show é aplicada */
}
#toggle-video {
  font-size: 1.5em; /* Ajusta o tamanho do botão */
  padding: 10px 10px; /* Adiciona espaçamento interno ao botão */
  background-image: linear-gradient(to right, #73bb3f, #347bba);
  border: none; /* Remove a borda */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  cursor: pointer; /* Adiciona cursor ao botão */
}



  
  
  
  

  