@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

html,
body {
  overflow-x: hidden;
}

img {
  border-radius: 5px;
}

h1 {
  font-family: 'Jersey 25';
  font-weight: 400;
  color: hsla(193, 60%, 47%, 0.669);
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;

}

::-webkit-scrollbar-thumb {
  background-color: #4ef805;
}

p {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: justify;
}

header {
  background-image: linear-gradient(to right, #73bb3f, #347bba);
}

#navbarSupportedContent {
  flex-grow: 0;
}

#logo {
  margin-right: 20px;
  border-radius: 50% 20%;
  max-width: 80px;

}

main {
  background-image: linear-gradient(to right, #4f823053, #306ba771);
}

footer {
  background-image: linear-gradient(to right, #73bb3fac, #347bba9e);
  text-align: center;
}

footer .list-icon {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
}

li a {
  text-decoration: none;
  /* font-size: 1rem; */
  color: #000000c3;
}

li a:hover {
  color: chartreuse;
  text-decoration: underline;
}

.sec-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background-image: linear-gradient(to left, #73bb3f, #347bba);
  border-radius: 10px;
  max-width: 60%;
  padding: 1rem;
  margin-bottom: 25px;
  box-shadow: -20px -20px 0 0 rgba(22, 23, 24, 0.196);
}