header {
  background-image: linear-gradient(to right, #73bb3f, #347bba);
}

main {
  background-image: linear-gradient(to right, #4f823053, #306ba771);
}
footer {
  background-image: linear-gradient(to right, #73bb3f, #347bba);
  text-align: center;
}