main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#form-map{
  display: flex;
  margin:  50px auto;
  align-items: center;
  gap: 60px;
}