main{
    display: flex;  
    align-items: center; 
    flex-direction: column;

}


#imagem1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 20px auto;
  width: 100%;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5); /* Adicionando sombreamento */
  transition: transform 0.5s ease; /* Adicionando transição para a propriedade transform */
  transform-style: preserve-3d; /* Preservando a transformação em 3D */
  
  display: block;
 
}

#paragrafo1 {
  font-size: 20px;
  font-weight: bold;
  font-style: italic; /* Adicionando estilo de letra itálico */
  font-family: cursive;
  text-align: justify;
}
#paragrafo2 {
  font-size: 20px;
  font-weight: bold;
  font-style: italic; /* Adicionando estilo de letra itálico */
  font-family: cursive;
  text-align: justify;
}


.container2 {
  width: 1200px; /* Reduzindo a largura para tornar o círculo mais evidente */
  background-color: #f0f0f0;
  border: 2px solid #73becb;
  padding: 20px;
  margin: 20px;
  float: left;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px; /* Torna o contêiner um círculo */
}
#imagem2 {
  width: 500px; /* Ajuste conforme necessário */
  height: auto; /* Para manter a proporção da imagem */
  margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

.container3 {
    width: 1200px; /* Reduzindo a largura para tornar o círculo mais evidente */
    background-color: #f0f0f0;
    border: 2px solid #73becb;
    padding: 20px;
    margin: 20px;
    float: left;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui o espaço entre os itens */
    border-radius: 10px; /* Torna o contêiner um círculo */
  }
  
  
#imagem3 {
  width: 500px; /* Ajuste conforme necessário */
  height: auto; /* Para manter a proporção da imagem */
  margin-right: 20px; /* Espaçamento entre a imagem e o texto */
  margin-left: auto; /* Move a imagem para o lado direito */

}

.video-container {
  background-image: linear-gradient(to right, #73bb3f, #347bba);
  padding: 5px;
  border-radius: 5px;
  margin-top: 2px;
  display: none;
}

.video-link {
  color: #0d6efd;
  cursor: pointer;
}

.video-link:hover {
  text-decoration: underline;
}

  
  
  