@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');



h4{
  text-align: center;
  color: #2a932a;
  padding-left: 3rem;
  
}

.titulo-projeto{
  font-family: 'Jersey 25';
  font-weight: 400;
  color: hsla(193, 60%, 47%, 0.669);
  text-transform: uppercase;
  
}

.titulo-proj{
  padding: 30px;
  text-align: justify;
  background-color: rgba(127, 255, 129, 0.42);
  border-radius: 2rem;
  margin: 0 1.6rem 1.6rem ;

}
.frame-placas{
  padding: 2rem;
  background-color: rgba(152, 228, 228, 0.756);
 }
 .proj {
   max-width: 100%;
   text-align: left;
   padding-top: 1rem;
  
 }
 .info-proj__acesso{
   position: relative;
   z-index: 1;
 }
 .image-proj{
   width: 50%;
   height: auto;
   position: fixed;
   
   
   
 }
 
 .proj-explicacoes{
   padding: 1rem;
   text-align: center;
   display: flex;
   justify-content: space-between;
 }
 
 .projeto-social{
   padding: 1rem;
   display: block;
   justify-content: space-between;
   
 }
 .projeto-social__topico{
   padding: 1rem;
   width: 100%;
   text-align: justify;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .projeto-social__subtitulo{
   color: rgba(164, 114, 38, 0.826);
 }
 
 .proj-sec{
 
   display: flex;
   justify-content: space-between;
   padding-bottom: 40px;
   align-items: center;
   gap: 20px;
   margin-top: 2rem;
 }
 .texto-info{
   background-color: rgba(54, 233, 173, 0.459);
   padding: 1.5rem;
   border-radius: 2rem;
 }
 .button-proj{
  display: inline-block;
            padding: 10px 20px;
            font-size: 1.2rem;
            background-color: #2a932a; 
            color: #fff;
           
            border: none;
            border-radius: 1.8rem;
            cursor: pointer;
            position: relative;
            overflow: hidden;
 }
 
 .button-proj::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #00ff00, transparent);
  animation: neon-glow 1.5s infinite alternate;
}

@keyframes neon-glow {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}
 
 