p {
	font-size: 1.6rem;
	line-height: 1.8;
	text-align: justify;
}

#folder_sobre {
	max-width: 90%;
	height: auto;
	display: flex;
    padding-left: 180px;
   
}
.sobre_folder img {
	width: 100%;
	height: 50%;
	
}
.sobre_folder{
    background-color: #DCB142;
}
.sobre{
	padding: 1.6rem;
} 
.section__titulo {
	font-size: 4.8rem;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
	text-align: center;
}

.section__titulo--destaque {
	color: #DCB142
}

.sobre-texto {
	margin-top: 1.6rem;
	display: flex;
	flex-wrap: inherit;
    justify-content: space-between;
	width: 100%;
	
}

.sobre-texto__titulo {
	font-size: 2.8rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: .8rem;
	margin: 2rem;
	
}
.sobre-c__img {
	flex: 1 1 1rem;
	margin-right: 1.5rem;
	display: block;
	left: auto;
	max-width:400px;
    max-height:400px;
	border-radius: 1.6rem;
	
}
.sobre-intuito {
	display: list-item;
	margin: 20px;
	padding: 2rem;
	width: auto;
	background-color: rgba(137, 192, 174, 0.482);
	border-radius: 3rem;
	
}
.missao{
	margin: 2rem;
	text-align: justify;
	
}
.visao{
	margin: 2rem;
	padding: 2rem;
	text-align: justify;
	background-color: rgba(147, 205, 185, 0.495);
	border-radius: 2rem;

	
}
.valores{
	margin:2rem;
	text-align: justify;
}
.informacoes_sobre{
	display: flex;
	justify-content: space-between;
	font-size: 2.8rem;
	font-weight: 400;
	padding: 2rem;
	
	text-align: justify;
	border-radius: 1.6rem;
	background-color: #42dc5c44;
}
.sobre-energia{
	padding-top: 5rem;

}
.sobre__video{
	width: 100%;
	height: 800px;
	display: flex;
    padding-left: 180px;
	
	
	

}